.container{
    border-top: 1px solid lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.allSinger{
    margin-left: 20px;
    margin-right: 5px;
}
.total-singer{
    text-align: center;
}
.singer-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.selectedSinger{
    text-align: center;
}